# python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# venv
.venv/
venv/
env/

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# logs / caches
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# sqlite database (если хочешь хранить базу в гите - убери эти строки)
*.sqlite
*.db

# exports (если не надо хранить)
export_*.json
export_*.csv